@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html {
    font-family: Helvetica Neue;    
    background-color: #FFFAF5;
    scroll-behavior: smooth;
    color: #8E806A;
}

div {
   /* border: 2px solid red;*/
}

.wrapper {
    display: block;
    margin: auto;
}

nav {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1;
}

#navbar ul {
    list-style: none;
    display: block;
    z-index: 1;
}

#navbar li {
    color: #8E806A;
    display: inline-block;
    margin-left: 15px;
}

a {
    text-decoration: none;
    color: #8E806A;
}


.page-area {
    
    display: flex;
    margin-bottom: 10px;
}

.page-title {
    font-size: 25px;
    color: black;
}

#intro-page {
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#portrait-img {
    max-width: 500px;
}

#work-page {
    flex-direction: column;
    align-items: center;
}

.work-item {
    padding: 30px;
    display: flex;
    
}

.project-title {
    font-size: 20px;
    padding-bottom: 10px;
}

.project-description {
    color: #8E806A;
    max-width: 500px;
    padding: 30px;
}

.project-img {
    max-width: 400px;
}

.js-scroll {
  
  opacity: 0;
  transition: background-color 500ms;
}

.js-scroll.scrolled {
    opacity: 1;
}

.scrolled.fade-in {
    animation: fade-in 1s ease-in-out both;
}
  
.scrolled.fade-in-bottom {
    animation: fade-in-bottom 1s ease-in-out both;
}
  
.scrolled.slide-left {
    animation: slide-in-left 1s ease-in-out both;
}
  
.scrolled.slide-right {
    animation: slide-in-right 1s ease-in-out both;
}
  
@keyframes slide-in-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}
  
@keyframes slide-in-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}
  
@keyframes fade-in-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}
  
@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

#skills-page {
    justify-content: center;
    
}

.skill-item {
    margin-bottom: 30px;
    padding-top: 15px;
    display: grid;
    grid-template-rows:    repeat(1, 10px);
    grid-template-columns: repeat(5, 50px);
}

.skill-bar {
    background-color: #DBCEBC;
    margin-left: 10px;
    border-radius: 20px;
}

.grey-out {
    background-color: transparent;
    border: 2px solid #DBCEBC;
}

#skills-title-area {
    padding-bottom: 50px;
}

.skill-title {
    color:#8E806A;
}

.skills-area {
    text-align: center;
}

#socials-page {
    height: 100vh;
}



